.stawro{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .container-01{
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    gap: 10px;
    background: linear-gradient(to bottom right, #0151ff, #016fa1);
  }
  
  .container-sub-01{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.651);
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    cursor: pointer;
    align-content: center;
  }
  
  .icon-01{
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
    color: #ffffff;
  }
  
  .container-sub-01 span{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
  }
  
  .container-sub-01:hover{
    background: linear-gradient(to bottom right, #016fa1, #01afff);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .container-sub-01:active{
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .container-sub-01:focus{
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .container-sub-01:focus-visible{
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .container-sub-01:focus-within{
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .container-sub-01:focus-within:hover{
    background: linear-gradient(to bottom right, #016fa1, #01afff);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  
  .container-01-lst{
    width: 90%;
    height: auto;
    border: 1px solid rgb(212, 212, 212);
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #0151ff, #016fa1);
  }
  
  
  .h2-01-may-be{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    text-decoration-skip: objects;
    text-decoration-skip-ink: auto;
  }
  
  .container-sub-01-lst{
    width: 99%;
    height: auto;
    padding: auto;
    border-radius: 15px;
    /* background: linear-gradient(to bottom right, #01afff, #016fa1); */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651); */
    /* border: 1px solid rgb(212, 212, 212); */
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    text-decoration-skip: objects;
  }
  
  .container-sub-01-lst{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }
  
  .container-sub-01-lst-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .container-sub-01-lst input,
  .input-01-lst,
  .container-sub-01-lst select {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(184, 177, 177);
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  
  .input-01-lst-btn-01{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(184, 177, 177);
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    text-decoration-skip: objects;
  }
  
  .input-01-lst-btn-01:hover{
    background: linear-gradient(to bottom right, #016fa1, #01afff);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .input-01-lst-btn-01:active{
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .input-01-lst-btn-01:focus{
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .input-01-lst-btn-01:focus-visible{
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .input-01-lst-btn-01:focus-within{
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .input-01-lst-btn-01:focus-within:hover{
    background: linear-gradient(to bottom right, #016fa1, #01afff);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  .input-01-lst-btn-01:focus-within:active{
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.651);
  }
  
  
  .list_page_qno_len{
    width: 90%;
    height: auto;
    border: 1px solid rgb(212, 212, 212);
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #0151ff, #016fa1);
    margin: 10px;
    color: #ffffff;
  }
  
  .question-card{
    width: 30%;
    max-height: auto;
    min-height: 200px;
    background-color:rgb(255, 255, 255);
    min-height: 450px;
    border: 1px solid rgb(255, 255, 255);
    color: #000000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-content: center;
  }
  
  .question-card h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: #f59404;
  }
  
  
  .list_page_btn-01_cnt{
    width: 95%;
    height: auto;
    margin: auto;
  }
  
  .list_page_btn-01_cnt-button-01{
    width: auto;
    padding: 10px;
    min-width: 100px;
    height: auto;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    border: 1px solid rgb(184, 181, 181);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .list_page_btn-01_cnt-button-02{
    width: auto;
    padding: 10px;
    height: auto;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to bottom right, #46dd00, #00b41e);
    border: 1px solid rgb(184, 181, 181);
    border-radius: 10px;
    cursor: pointer;
  }
  
  
  /* 
  .list_page_btn-01_cnt button{
    width: auto;
    padding: 10px;
    height: auto;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to bottom right, #01afff, #016fa1);
    border: 1px solid rgb(184, 181, 181);
    border-radius: 10px;
    cursor: pointer;
  } */
  
  
  .image_cnt-01{
    margin: 10px;
  }
  
  .texts-01{
    color: rgb(65, 37, 6);
    font-family: 'Times New Roman', Times, serif;
  }
  
  strong{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
  }
  
  .list_page_btn-01_cnt-new-one-01{
    width: 90%;
    background: linear-gradient(10deg, rgb(0, 102, 255), rgb(3, 32, 160));
    height: auto;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 4px 4px 8px gray;
    text-align: start;
    display: flex;
    flex-direction: column; 
  
  }
  
  
  .list_page_main_controle-01{
    width: 90%;
    height: 50px;
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #0151ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .list_page_main_controle-01 div{
    margin: auto;
  }
  
  .list_page_main_controle-01 span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
  }
  
  .delete_btn-01{
    width: 90%;
    height: 50px;
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #013e99, #0099ff);
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
  }
  
  